<!DOCTYPE html>
<html>
<head>
	<style>
		.homePage {
			color: #bbb;
			margin: 150px auto;
			font-size: 17pt;
			text-align: center;
			width: 500px;
		}
	</style>	
</head>
<body>
	Error...
</body>
</html>