

@{
    ViewBag.Title = "Home page";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

@**@
@*<iframe id="content" src="" style="height:600px">

</iframe>*@
<div id="content"><br/><br/>If you see this text, maybe your browser doesn't support javascript</div>
